main {
  width: 100%;
  height: 100vh;
  background-image: url(/img/hero-image.png);
  background-color: wheat;
  background-size: 90vh, cover;
  background-repeat: no-repeat;
  background-position: bottom, center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

main .main-intro h1 {
  font-size: 96px;
  line-height: 106px;
}

main p {
  font-size: 18px;
  line-height: 30px;
}

main a {
  margin-top: 30px;
  font-size: 18px;
  display: block;
  border: 2px solid black;
  background-color: tomato;
  padding: 10px 20px;
  width: fit-content;
}

main a:hover {
  background-color: salmon;
}

main .main-quotes p {
  color: black;
  font-weight: 600;
  border-left: 4px solid salmon;
  padding: 20px;
  margin: 50px 0;
}

main .main-intro {
  position: relative;
  right: 25vh;
  padding-bottom: 8vh;
}

main .main-quotes {
  position: relative;
  left: 25vh;
  padding-bottom: 8vh;
}

.index-category {
  width: 100%;
  background-color: wheat;
  display: flex;
  column-gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
}

.index-category p {
    color: black;
    border: 2px solid black;
    border-radius: 20px;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 60px;
    margin-left: 100%;
    margin-right: 100%;
    padding: 40px;
    text-transform: uppercase;
    font-size: 60px;
    font-weight: 700;
    transition: all ease-in-out 0.5s;
}

.index-category p:hover {
    color: white;
    background-color: tomato;
}

.index-category-box {
  height: 600px;
  width: 300px;
  margin: 30px 30px;
  border: 2px solid black;
  border-radius: 30px;
  background-color: tomato;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all ease-in-out 0.5s;
}

.index-category-box:hover {
    background-color: salmon;
    width: 25%;
}

.index-category-box h3 {
  text-align: center;
}

.index-category-box img {
    height: 100px;
    width: 100px;
    margin: 30px;
}
