main {
  width: 100%;
  height: 100vh;
  background-image: url(/img/hero-image.png);
  background-color: wheat;
  background-size: 90vh, cover;
  background-repeat: no-repeat;
  background-position: bottom, center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  column-gap: 100px;
}

main .main-intro h1 {
  font-size: 96px;
  line-height: 106px;
}

main p {
  font-size: 18px;
  line-height: 30px;
}

main a {
  margin-top: 30px;
  font-size: 18px;
  display: block;
  border: 2px solid black;
  background-color: tomato;
  padding: 10px 20px;
  width: fit-content;
}

main a:hover {
  background-color: salmon;
}

main .main-quotes p {
  color: black;
  font-weight: 600;
  border-left: 4px solid salmon;
  padding: 20px;
  margin: 50px 0;
}

main .main-intro {
  position: relative;
  right: 25vh;
  padding-bottom: 8vh;
}

main .main-quotes {
  position: relative;
  left: 25vh;
  padding-bottom: 8vh;
}

/* Category Section */

.index-category {
  width: 100%;
  background-color: #F4DEB3;
  display: flex;
  column-gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
}

.index-category p {
    color: black;
    border: 2px solid black;
    border-radius: 20px;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 60px;
    margin-left: 100%;
    margin-right: 100%;
    padding: 40px;
    text-transform: uppercase;
    font-size: 60px;
    font-weight: 700;
    transition: all ease-in-out 0.5s;
}

.index-category p:hover {
    color: white;
    background-color: tomato;
}

.index-category-box {
  height: 600px;
  width: 300px;
  margin: 30px 30px;
  margin-bottom: 200px;
  border: 2px solid black;
  border-radius: 30px;
  background-color: tomato;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all ease-in-out 0.5s;
}

.index-category-box:hover {
    background-color: salmon;
    width: 25%;
}

.index-category-box h3 {
  text-align: center;
}

.index-category-box img {
    height: 100px;
    width: 100px;
    margin: 30px;
}

/* About Section */

.index-about {
  width: 100%;
  padding: 60px 0;
  background-color: #624E88;
}

.index-about-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}

.wrapper-main {
  width: 1500px;
  margin: 0 auto;
}

.index-about img {
  width: 300px;
  border-radius: 300px;
  padding: 30px;
  margin-right: 50px;
  transition: all ease-in-out 0.5s;
}

.index-about img:hover {
  width: 400px;
  cursor: pointer;
}

.index-about-text {
  flex-basis: 40%;
}

.index-about-text h2 {
  padding-bottom: 20px;
}

.index-about-text a {
  display: block;
  margin-top: 30px;
  width: 35%;
  padding: 10px;
  font-size: 20px;
  border: 2px solid black;
  background-color: #D91656;
}

.index-about-text a:hover {
  background-color: #FF204E;
}

.index-about-skill {
  flex-basis: 300px;
  padding: 20px;
}

.index-about-skill p {
  padding: 10px 0;
}

.index-about-skill-bar {
  width: 100%;
  height: 10px;
  border: 1px solid black;
  cursor: pointer;
}

.index-about-skill-bar-fill {
  width: 100%;
  height: 100%;
  background-color: salmon;
}

.htmlcss {
  width: 70%;
}

.js {
  width: 40%;
}

.react {
  width: 20%;
}

.tw {
  width: 10%;
}