.header-main {
    width: 100%;
    height: 500px;
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header-main div {
    height: 30px;
}

.header-main .div-1 {
    width: 400px;
    background-color: aqua;
}

.header-main .div-2 {
    width: 400px;
    background-color: red;
}

.header-main .div-3 {
    width: 400px;
    background-color: blueviolet;
}